<div class="header_top_area">
  <div class="container">
    <div class="pull-left">
      <a href="#"><i class="fa fa-phone"></i><%= global.company.tel[0] %></a>
      <a href="#"
        ><i class="fa fa-map-marker"></i><%= global.company.location %></a
      >
      <a href="#"><i class="mdi mdi-clock"></i><%= global.company.workHours %></a>
    </div>
    <div class="pull-right">
      <ul class="header_social">
        <li>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-google-plus"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-pinterest"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
