<!--================Header Area =================-->
<header class="main_header_area transparent_menu">
  <!-- =========== nav-top ========== -->
  <%- include('nav-top') %>

  <div class="main_menu_area">
    <div class="container">
      <nav class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="<%= global.company.logo[0] %>" alt="logo" />
            <img src="<%= global.company.logo[1] %>" alt="logo" />
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/" class="active">Home</a></li>
            <li><a href="#our--projects" class="active">Projects</a></li>
            <!-- <li class="dropdown submenu">
              <a
                href="project-full-width.html"
                class="dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Projects</a
              >
              <ul class="dropdown-menu">
                <li>
                  <a href="project-full-width.html">Project Full Width</a>
                </li>
                <li>
                  <a href="project-grid-three-column.html">Project Grid 01</a>
                </li>
                <li>
                  <a href="project-grid-two-column.html">Project Grid 02</a>
                </li>
                <li><a href="project-three-column.html">Project Grid 03</a></li>
                <li><a href="project-single.html">Single Project</a></li>
              </ul> 
            </li> -->
            <li><a href="#our--services">Services</a></li>
            <li><a href="#">about us</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </nav>
    </div>
  </div>
</header>
<!--================Header Area =================-->
