
<!--================ Quote Form Start =================-->
<div class="quote-form" id="quote">
    <a href= "#" class="quote-form__close">&times;</a>
    <h1 class="quote-form__heading">Request Quote</h1>
    <form action="/" method="POST">
      <div class="form-group quote-form__container">
        <input type="text" class="form-control quote-form__input" name="firstName" placeholder="First Name">
      </div>
  
      <div class="form-group quote-form__container">
        <input type="text" class="form-control quote-form__input" name="lastName" placeholder="Last Name">
      </div>
  
      <div class="form-group quote-form__container">
        <input type="email" class="form-control quote-form__input" name="email" placeholder="Email">
      </div>
  
      <div class="form-group quote-form__container">
        <input type="Number" class="form-control quote-form__input" name="phone" placeholder="Phone">
      </div>
  
      <div class="form-group quote-form__container">
        <select name="selectService" class="form-control quote-form__input">
          <option selected>Select Service</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
  
      <div class="form-group quote-form__container">
        <textarea class="form-control quote-form__input" name="message" rows="3" placeholder="Message"></textarea>
      </div>
  
      <button type="submit" class="btn quote-form__btn">request quote</button>
    </form>
  </div>