<!--================Banner Area =================-->
<section class="banner_area">
    <div class="container">
        <div class="banner_inner_text">
            <h4><%= projectName %></h4>
            <ul>
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/#our--projects">View other projects</a></li>
            </ul>
        </div>
    </div>
</section>
<!--================End Banner Area =================-->

    
    <!--================Project Single Area =================-->
    <section class="project_single_area">
        <div class="container">
            <div class="project_single_inner">
                <div class="project_single_slider">
                    <div id="slider" class="flexslider">
                        <ul class="slides">
                            <li><img src="/img/project/project-single-slider/project-s-1.jpg" alt=""></li>
                            <li><img src="/img/project/project-single-slider/project-s-1.jpg" alt=""></li>
                            <li><img src="/img/project/project-single-slider/project-s-1.jpg" alt=""></li>
                            <li><img src="/img/project/project-single-slider/project-s-1.jpg" alt=""></li>
                            <li><img src="/img/project/project-single-slider/project-s-1.jpg" alt=""></li>
                            <li><img src="/img/project/project-single-slider/project-s-1.jpg" alt=""></li>
                            <li><img src="/img/project/project-single-slider/project-s-1.jpg" alt=""></li>
                            <li><img src="/img/project/project-single-slider/project-s-1.jpg" alt=""></li>
                            <li><img src="/img/project/project-single-slider/project-s-1.jpg" alt=""></li>
                            <li><img src="/img/project/project-single-slider/project-s-1.jpg" alt=""></li>
                        </ul>
                    </div>
                    <div id="carousel" class="flexslider">
                        <ul class="slides">
                            <li><img src="/img/project/project-single-slider/project-thumb-1.jpg" alt=""></li>
                            <li><img src="/img/project/project-single-slider/project-thumb-2.jpg" alt=""></li>
                            <li><img src="/img/project/project-single-slider/project-thumb-3.jpg" alt=""></li>
                            <li><img src="/img/project/project-single-slider/project-thumb-4.jpg" alt=""></li>
                            <li><img src="/img/project/project-single-slider/project-thumb-1.jpg" alt=""></li>
                            <li><img src="/img/project/project-single-slider/project-thumb-1.jpg" alt=""></li>
                            <li><img src="/img/project/project-single-slider/project-thumb-2.jpg" alt=""></li>
                            <li><img src="/img/project/project-single-slider/project-thumb-3.jpg" alt=""></li>
                            <li><img src="/img/project/project-single-slider/project-thumb-4.jpg" alt=""></li>
                            <li><img src="/img/project/project-single-slider/project-thumb-1.jpg" alt=""></li>
                        </ul>
                        <div class="custom-navigation">
                            <a href="#" class="flex-prev"><i class="fa fa-angle-left"></i></a>
                            <a href="#" class="flex-next"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="project_summery">
                            <h4 class="project_title"><%= projectName.toUpperCase() %></h4>
                            <p><%= projectDesc %></p>
                            <ul>
                                <li><a href="#">Client’s Name : <span>Md. Shafiqul Alom</span> </a></li>
                                <li><a href="#">Catagory: <span>Repairing</span></a></li>
                                <li><a href="#">Value: <span>$154543</span></a></li>
                                <li><a href="#">Year Completed: <span>April 2010</span> </a></li>
                                <li><a href="#">Architect: <span>Masud & Rocky</span></a></li>
                                <li><a href="#">Location: <span>123, ABC Road, London</span></a></li>
                            </ul>
                        </div>
                        <div class="project_quote">
                            <h4 class="project_title">Owner Review</h4>
                            <div class="quote_inner">
                                <p>Proin gravida nibh vel velit hace aauctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipissum, nec sagittis sem nibh id elit.  </p>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star-o"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="project_discription">
                            <h4 class="project_title">PROJECT SUMMARY</h4>
                            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed semper, lacus sed feugiat dictum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore. Proin gravida nibh vel velit hace aauctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipissum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit aasmet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
                            <p>Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti hacsociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam.</p>
                            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed semper, lacus sed feugiat dictum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore. Proin gravida nibh vel velit hace aauctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipissum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit aasmet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Project Single Area =================-->
    
    <!--================Our Latest Project Area =================-->
    <section class="our_latest_project">
        <div class="container">
            <h3 class="out_title">Our Latest projects</h3>
            <div class="our_latest_slider owl-carousel">
                <div class="item">
                    <div class="project_item">
                        <img src="/img/project/project-2/project-1.jpg" alt="">
                        <div class="project_hover">
                            <div class="project_hover_inner">
                                <div class="project_hover_content">
                                    <a href="#"><h4>Jahanara Vila</h4></a>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
                                    <a class="view_btn" href="#">View Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="project_item">
                        <img src="/img/project/project-2/project-2.jpg" alt="">
                        <div class="project_hover">
                            <div class="project_hover_inner">
                                <div class="project_hover_content">
                                    <a href="#"><h4>Jahanara Vila</h4></a>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
                                    <a class="view_btn" href="#">View Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="project_item">
                        <img src="/img/project/project-2/project-3.jpg" alt="">
                        <div class="project_hover">
                            <div class="project_hover_inner">
                                <div class="project_hover_content">
                                    <a href="#"><h4>Jahanara Vila</h4></a>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
                                    <a class="view_btn" href="#">View Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Our Latest Project Area =================-->
    
    <!--================Get Quote Area =================-->
    <section class="get_quote_area project_contact">
        <div class="container">
            <div class="pull-left">
                <h3>Save Your Money </h3>
                <h4>Call us today or Contact us to get started your project.. </h4>
            </div>
            <div class="pull-right">
                <a class="get_btn_black" href="#">Contact Us</a>
            </div>
        </div>
    </section>
    <!--================End Get Quote Area =================-->
    